# PhpStorm
.idea/

# Composer
strumenti/vendor/

# Cache
*.log
*.cache

# Backup
*.bak
*.tmp

# Video
*.mp4

# Uploads
gestionale/checklist/uploads

# Config personalizzati
gestionale/config/config.php
strumenti/config/pdo.php
strumenti/config/config.php
gestionale/config/pdo.php

.gitignore
CODE_OF_CONDUCT.md
LICENSE.txt
README.md
