
<!-- TEMPALTE VANO SANITARIO MSB-->

<div class="alert alert-success" style="text-align: center" role="alert">
  <b>VANO SANITARIO</b>
</div>
<!-- SPINALE -->
<div class="form-group row" id="spinale">
  <label class="col-sm-4 col-form-label" for="spinale"><b>Asse spinale</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="spinale" id="spinale1" value="OK" required>
      <label class="form-check-label" for="spinale1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="spinale" id="spinale2" value="MANCANTE" required>
      <label class="form-check-label" for="spinale2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="spinale" id="spinale3" value="Ripristinato" required>
      <label class="form-check-label" for="spinale3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="spinale" id="spinale4" value="Vedi note" required>
      <label class="form-check-label" for="spinale4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- RAGNO -->
<div class="form-group row" id="ragno">
  <label class="col-sm-4 col-form-label" for="ragno"><b>Ragno</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ragno" id="ragno1" value="OK" required>
      <label class="form-check-label" for="ragno1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ragno" id="ragno2" value="MANCANTE" required>
      <label class="form-check-label" for="ragno2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ragno" id="ragno3" value="Ripristinato" required>
      <label class="form-check-label" for="ragno3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ragno" id="ragno4" value="Vedi note" required>
      <label class="form-check-label" for="ragno4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- BASE, FERMACAPO, MENTONIERE -->
<div class="form-group row" id="trauma">
  <label class="col-sm-4 col-form-label" for="trauma"><b>Base + fermacapo + mentoniere</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="trauma" id="trauma1" value="OK" required>
      <label class="form-check-label" for="trauma1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="trauma" id="trauma2" value="MANCANTE" required>
      <label class="form-check-label" for="trauma2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="trauma" id="trauma3" value="Ripristinato" required>
      <label class="form-check-label" for="trauma3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="trauma" id="trauma4" value="Vedi note" required>
      <label class="form-check-label" for="trauma4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- SCOOP -->
<div class="form-group row" id="scoop">
  <label class="col-sm-4 col-form-label" for="scoop"><b>Barella scoop</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="scoop" id="scoop1" value="OK" required>
      <label class="form-check-label" for="scoop1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="scoop" id="scoop2" value="MANCANTE" required>
      <label class="form-check-label" for="scoop2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="scoop" id="scoop3" value="Ripristinato" required>
      <label class="form-check-label" for="scoop3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="scoop" id="scoop4" value="Vedi note" required>
      <label class="form-check-label" for="scoop4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CINTURE SCOOP -->
<div class="form-group row" id="cinghie">
  <label class="col-sm-4 col-form-label" for="cinghie"><b>3x Cinture scoop</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cinghie" id="cinghie1" value="OK" required>
      <label class="form-check-label" for="cinghie1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cinghie" id="cinghie2" value="MANCANTE" required>
      <label class="form-check-label" for="cinghie2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cinghie" id="cinghie3" value="Ripristinato" required>
      <label class="form-check-label" for="cinghie3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cinghie" id="cinghie4" value="Vedi note" required>
      <label class="form-check-label" for="cinghie4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- COLLARI -->
<div class="form-group row" id="collari">
  <label class="col-sm-4 col-form-label" for="collari"><b>1x Collari (Pediatric - NoNeck - Regular)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="collari" id="collari1" value="OK" required>
      <label class="form-check-label" for="collari1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="collari" id="collari2" value="Parziale" required>
      <label class="form-check-label" for="collari2">Parziale</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="collari" id="collari3" value="Ripristinato" required>
      <label class="form-check-label" for="collari3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="collari" id="collari4" value="Vedi note" required>
      <label class="form-check-label" for="collari4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- KED -->
<div class="form-group row" id="KED">
  <label class="col-sm-4 col-form-label" for="KED"><b>Kit estricazione</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="KED" id="KED1" value="OK" required>
      <label class="form-check-label" for="KED1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="KED" id="KED2" value="MANCANTE" required>
      <label class="form-check-label" for="KED2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="KED" id="KED3" value="Guasto" required>
      <label class="form-check-label" for="KED3">Guasto</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="KED" id="KED4" value="Vedi note" required>
      <label class="form-check-label" for="KED4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- STECCOBENDE -->
<div class="form-group row" id="steccobende">
  <label class="col-sm-4 col-form-label" for="steccobende"><b>Set steccobende con pompa</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="steccobende" id="steccobende1" value="OK" required>
      <label class="form-check-label" for="steccobende1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="steccobende" id="steccobende2" value="MANCANTE" required>
      <label class="form-check-label" for="steccobende2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="steccobende" id="steccobende3" value="Parziale" required>
      <label class="form-check-label" for="steccobende3">Parziale</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="steccobende" id="steccobende4" value="Vedi note" required>
      <label class="form-check-label" for="steccobende4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- RESERVOIR AMBULANZA -->
<div class="form-group row" id="maschere">
  <label class="col-sm-4 col-form-label" for="maschere"><b>3x Maschere ossigeno ADULTI e PEDIATRICHE</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschere" id="maschere1" value="OK" required>
      <label class="form-check-label" for="maschere1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschere" id="maschere2" value="Parziale" required>
      <label class="form-check-label" for="maschere2">Parziale</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschere" id="maschere3" value="Ripristinato" required>
      <label class="form-check-label" for="maschere3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschere" id="maschere4" value="Vedi note" required>
      <label class="form-check-label" for="maschere4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- BOMBOLE FISSE -->
<div class="form-group row" id="bombolefisse">
  <label class="col-sm-4 col-form-label" for="bombolefisse"><b>2x Bombole ossigeno fisse 7lt.</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="bombolefisse" id="bombolefisse1" value="OK" required>
      <label class="form-check-label" for="bombolefisse1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="bombolefisse" id="bombolefisse2" value="MANCANTE" required>
      <label class="form-check-label" for="bombolefisse2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="bombolefisse" id="bombolefisse3" value="Ripristinato" required>
      <label class="form-check-label" for="bombolefisse3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="bombolefisse" id="bombolefisse4" value="Vedi note" required>
      <label class="form-check-label" for="bombolefisse4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- BOMBOLE PORTATILI -->
<div class="form-group row" id="bomboleport">
  <label class="col-sm-4 col-form-label" for="bomboleport"><b>2x Bombole portatili 3lt.</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="bomboleport" id="bomboleport1" value="OK" required>
      <label class="form-check-label" for="bomboleport1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="bomboleport" id="bomboleport2" value="MANCANTE" required>
      <label class="form-check-label" for="bomboleport2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="bomboleport" id="bomboleport3" value="Ripristinato" required>
      <label class="form-check-label" for="bomboleport3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="bomboleport" id="bomboleport4" value="Vedi note" required>
      <label class="form-check-label" for="bomboleport4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- ASPIRATORE -->
<div class="form-group row" id="aspiratore">
  <label class="col-sm-4 col-form-label" for="aspiratore"><b>Aspiratore con sondino</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="aspiratore" id="aspiratore1" value="OK" required>
      <label class="form-check-label" for="aspiratore1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="aspiratore" id="aspiratore2" value="MANCANTE" required>
      <label class="form-check-label" for="aspiratore2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="aspiratore" id="aspiratore3" value="Ripristinato" required>
      <label class="form-check-label" for="aspiratore3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="aspiratore" id="aspiratore4" value="Vedi note" required>
      <label class="form-check-label" for="aspiratore4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- DAE -->
<div class="form-group row" id="DAE">
  <label class="col-sm-4 col-form-label" for="DAE"><b>DAE + piastre ADULTI e PEDIATRICHE</b><small class="text-muted"> (Dove previsto)</small></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="DAE" id="DAE1" value="OK" required>
      <label class="form-check-label" for="DAE1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="DAE" id="DAE2" value="MANCANTE" required>
      <label class="form-check-label" for="DAE2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="DAE" id="DAE3" value="Guasto" required>
      <label class="form-check-label" for="DAE3">Guasto</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="DAE" id="DAE4" value="Vedi note" required>
      <label class="form-check-label" for="DAE4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- GUANTI -->
<div class="form-group row" id="guanti">
  <label class="col-sm-4 col-form-label" for="guanti"><b>1x Guanti (S-M-L-XL)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guanti" id="guanti1" value="OK" required>
      <label class="form-check-label" for="guanti1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guanti" id="guanti2" value="Ripristinato" required>
      <label class="form-check-label" for="guanti2">Ripristinato</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guanti" id="guanti3" value="Parziale" required>
      <label class="form-check-label" for="guanti3">Parziale</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guanti" id="guanti4" value="Vedi note" required>
      <label class="form-check-label" for="guanti4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- PORTA TAGLIENTI -->
<div class="form-group row" id="taglienti">
  <label class="col-sm-4 col-form-label" for="taglienti"><b>Porta taglienti</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="taglienti" id="taglienti1" value="OK" required>
      <label class="form-check-label" for="taglienti1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="taglienti" id="taglienti2" value="MANCANTE" required>
      <label class="form-check-label" for="taglienti2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="taglienti" id="taglienti3" value="Ripristinato" required>
      <label class="form-check-label" for="taglienti3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="taglienti" id="taglienti4" value="Vedi note" required>
      <label class="form-check-label" for="taglienti4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- LENZUOLINI -->
<div class="form-group row" id="lenzuola">
  <label class="col-sm-4 col-form-label" for="lenzuola"><b>10x Lenzuola monouso</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="lenzuola" id="lenzuola1" value="OK" required>
      <label class="form-check-label" for="lenzuola1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="lenzuola" id="lenzuola2" value="MANCANTE" required>
      <label class="form-check-label" for="lenzuola2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="lenzuola" id="lenzuola3" value="Parziale" required>
      <label class="form-check-label" for="lenzuola3">Parziale</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="lenzuola" id="lenzuola4" value="Vedi note" required>
      <label class="form-check-label" for="lenzuola4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- ELMETTI -->
<div class="form-group row" id="caschi">
  <label class="col-sm-4 col-form-label" for="caschi"><b>4x Elmetti</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="caschi" id="caschi1" value="OK" required>
      <label class="form-check-label" for="caschi1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="caschi" id="caschi2" value="Parziale" required>
      <label class="form-check-label" for="caschi2">Parziale</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="caschi" id="caschi3" value="Ripristinato" required>
      <label class="form-check-label" for="caschi3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="caschi" id="caschi4" value="Vedi note" required>
      <label class="form-check-label" for="caschi4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- PADELLA -->
<div class="form-group row" id="padella">
  <label class="col-sm-4 col-form-label" for="padella"><b>Padella</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="padella" id="padella1" value="OK" required>
      <label class="form-check-label" for="padella1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="padella" id="padella2" value="MANCANTE" required>
      <label class="form-check-label" for="padella2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="padella" id="padella3" value="Ripristinato" required>
      <label class="form-check-label" for="padella3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="padella" id="padella4" value="Vedi note" required>
      <label class="form-check-label" for="padella4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- ROTOLO CARTA -->
<div class="form-group row" id="carta">
  <label class="col-sm-4 col-form-label" for="carta"><b>Rotolo carta</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="carta" id="carta1" value="OK" required>
      <label class="form-check-label" for="carta1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="carta" id="carta2" value="MANCANTE" required>
      <label class="form-check-label" for="carta2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="carta" id="carta3" value="Ripristinato" required>
      <label class="form-check-label" for="carta3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="carta" id="carta4" value="Vedi note" required>
      <label class="form-check-label" for="carta4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- COLTRINO -->
<div class="form-group row" id="coltrino">
  <label class="col-sm-4 col-form-label" for="coltrino"><b>Telo portaferiti</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="coltrino" id="coltrino1" value="OK" required>
      <label class="form-check-label" for="coltrino1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="coltrino" id="coltrino2" value="MANCANTE" required>
      <label class="form-check-label" for="coltrino2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="coltrino" id="coltrino3" value="Ripristinato" required>
      <label class="form-check-label" for="coltrino3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="coltrino" id="coltrino4" value="Vedi note" required>
      <label class="form-check-label" for="coltrino4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- SEDIA PORTANTINA -->
<div class="form-group row" id="sedia">
  <label class="col-sm-4 col-form-label" for="sedia"><b>Sedia portantina</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sedia" id="sedia1" value="OK" required>
      <label class="form-check-label" for="sedia1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sedia" id="sedia2" value="MANCANTE" required>
      <label class="form-check-label" for="sedia2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sedia" id="sedia3" value="Guasto" required>
      <label class="form-check-label" for="sedia3">Guasto</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sedia" id="sedia4" value="Vedi note" required>
      <label class="form-check-label" for="sedia4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- ESTINTORE POSTERIORE -->
<div class="form-group row" id="estintorepost">
  <label class="col-sm-4 col-form-label" for="estintorepost"><b>Estintore posteriore</b><small class="text-muted"> (Lancetta sul verde)</small></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="estintorepost" id="estintorepost1" value="OK" required>
      <label class="form-check-label" for="estintorepost1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="estintorepost" id="estintorepost2" value="MANCANTE" required>
      <label class="form-check-label" for="estintorepost2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="estintorepost" id="estintorepost3" value="Esaurito" required>
      <label class="form-check-label" for="estintorepost3">Esaurito</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="estintorepost" id="estintorepost4" value="Scaduto" required>
      <label class="form-check-label" for="estintorepost4">Scaduto</label>
    </div>
  </div>
</div>