<!--SEZIONE CABINA DI GUIDA-->
<div class="alert alert-success" style="text-align: center" role="alert">
  <b>CABINA GUIDA</b>
</div>
<!-- ESTINTORE ANTERIORE -->
<div class="form-group row" id="estintoreant">
  <label class="col-sm-4 col-form-label" for="estintoreant"><b>Estintore anteriore</b><small class="text-muted"> (Lancetta sul verde)</small></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="estintoreant" id="estintoreant1" value="OK" required>
      <label class="form-check-label" for="estintoreant1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="estintoreant" id="estintoreant2" value="MANCANTE" required>
      <label class="form-check-label" for="estintoreant2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="estintoreant" id="estintoreant3" value="Esaurito" required>
      <label class="form-check-label" for="estintoreant3">Esaurito</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="estintoreant" id="estintoreant4" value="Scaduto" required>
      <label class="form-check-label" for="estintoreant4">Scaduto</label>
    </div>
  </div>
</div>
<hr>
<!-- FARO DI RICERCA -->
<div class="form-group row" id="faro">
  <label class="col-sm-4 col-form-label" for="faro"><b>Faro di ricerca</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="faro" id="faro1" value="OK" required>
      <label class="form-check-label" for="faro1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="faro" id="faro2" value="MANCANTE" required>
      <label class="form-check-label" for="faro2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="faro" id="faro3" value="Guasto" required>
      <label class="form-check-label" for="faro3">Guasto</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="faro" id="faro4" value="Vedi note" required>
      <label class="form-check-label" for="faro4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- SET DA SCASSO-->
<div class="form-group row" id="scasso">
  <label class="col-sm-4 col-form-label" for="scasso"><b>Set da scasso</b><small class="text-muted"> (Mazzetta, cesoia, leverino, guanti da lavoro, torcia a vento)</small></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="scasso" id="scasso1" value="OK" required>
      <label class="form-check-label" for="scasso1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="scasso" id="scasso2" value="MANCANTE" required>
      <label class="form-check-label" for="scasso2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="scasso" id="scasso3" value="Esaurito" required>
      <label class="form-check-label" for="scasso3">Esaurito</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="scasso" id="scasso4" value="Scaduto" required>
      <label class="form-check-label" for="scasso4">Scaduto</label>
    </div>
  </div>
</div>
<hr>
<!--BLOCCO CVTO -->
<div class="form-group row" id="bloccocv">
  <label class="col-sm-4 col-form-label" for="bloccocv"><b>Blocco CVTO</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="bloccocv" id="bloccocv1" value="OK" required>
      <label class="form-check-label" for="bloccocv1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="bloccocv" id="bloccocv2" value="MANCANTE" required>
      <label class="form-check-label" for="bloccocv2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="bloccocv" id="bloccocv3" value="Ripristinato" required>
      <label class="form-check-label" for="bloccocv3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="bloccocv" id="bloccocv4" value="Vedi note" required>
      <label class="form-check-label" for="bloccocv4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!--SCHEDE 118 -->
<div class="form-group row" id="schede118">
  <label class="col-sm-4 col-form-label" for="schede118"><b>5x Schede MSB/MSA</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="schede118" id="schede1181" value="OK" required>
      <label class="form-check-label" for="schede1181">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="schede118" id="schede1182" value="MANCANTE" required>
      <label class="form-check-label" for="schede1182">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="schede118" id="schede1183" value="Ripristinato" required>
      <label class="form-check-label" for="schede1183">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="schede118" id="schede1184" value="Vedi note" required>
      <label class="form-check-label" for="schede1184">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- FUORISERVIZIO -->
<div class="form-group row" id="fuoriservizio">
  <label class="col-sm-4 col-form-label" for="fuoriservizio"><b>Cartello FUORI SERVIZIO</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="fuoriservizio" id="fuoriservizio1" value="OK" required>
      <label class="form-check-label" for="fuoriservizio1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="fuoriservizio" id="fuoriservizio2" value="MANCANTE" required>
      <label class="form-check-label" for="fuoriservizio2">Mancante</label>
    </div>
  </div>
</div>
<hr>
<!--COPERTA ANTIFIAMMA -->
<div class="form-group row" id="antifiamma">
  <label class="col-sm-4 col-form-label" for="antifiamma"><b>Coperta anti-fiamma</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="antifiamma" id="antifiamma1" value="OK" required>
      <label class="form-check-label" for="antifiamma1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="antifiamma" id="antifiamma2" value="MANCANTE" required>
      <label class="form-check-label" for="antifiamma2">Mancante</label>
    </div>
  </div>
</div>
<hr>
<!--DISINFETTANTE -->
<div class="form-group row" id="panseptil">
  <label class="col-sm-4 col-form-label" for="panseptil"><b>Disinfettante</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="panseptil" id="panseptil1" value="OK" required>
      <label class="form-check-label" for="panseptil1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="panseptil" id="panseptil2" value="MANCANTE" required>
      <label class="form-check-label" for="panseptil2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="panseptil" id="panseptil3" value="Ripristinato" required>
      <label class="form-check-label" for="panseptil3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="panseptil" id="panseptil4" value="Vedi note" required>
      <label class="form-check-label" for="panseptil4">Vedi note</label>
    </div>
  </div>
</div>
<hr>