
<!-- TEMPLATE MSA -->

<!-- ELETTRODI -->
<hr>
<div class="form-group row" id="elettrodi">
  <label class="col-sm-4 col-form-label" for="elettrodi"><b>Elettrodi</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="elettrodi" id="elettrodi1" value="OK" required>
      <label class="form-check-label" for="elettrodi1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="elettrodi" id="elettrodi2" value="MANCANTE" required>
      <label class="form-check-label" for="elettrodi2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="elettrodi" id="elettrodi3" value="Ripristinato" required>
      <label class="form-check-label" for="elettrodi3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="elettrodi" id="elettrodi4" value="Vedi note" required>
      <label class="form-check-label" for="elettrodi4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- GEL -->
<div class="form-group row" id="gel">
  <label class="col-sm-4 col-form-label" for="gel"><b>Gel</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gel" id="gel1" value="OK" required>
      <label class="form-check-label" for="gel1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gel" id="gel2" value="MANCANTE" required>
      <label class="form-check-label" for="gel2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gel" id="gel3" value="Ripristinato" required>
      <label class="form-check-label" for="gel3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gel" id="gel4" value="Vedi note" required>
      <label class="form-check-label" for="gel4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CARTAECG -->
<div class="form-group row" id="ecg">
  <label class="col-sm-4 col-form-label" for="ecg"><b>Carta ECG</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ecg" id="ecg1" value="OK" required>
      <label class="form-check-label" for="ecg1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ecg" id="ecg2" value="MANCANTE" required>
      <label class="form-check-label" for="ecg2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ecg" id="ecg3" value="Ripristinato" required>
      <label class="form-check-label" for="ecg3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ecg" id="ecg4" value="Vedi note" required>
      <label class="form-check-label" for="ecg4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CAVO6 -->
<div class="form-group row" id="6lead">
  <label class="col-sm-4 col-form-label" for="6lead"><b>Cavo 6 derivazioni</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="6lead" id="6lead1" value="OK" required>
      <label class="form-check-label" for="6lead1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="6lead" id="6lead2" value="MANCANTE" required>
      <label class="form-check-label" for="6lead2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="6lead" id="6lead3" value="Ripristinato" required>
      <label class="form-check-label" for="6lead3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="6lead" id="6lead4" value="Vedi note" required>
      <label class="form-check-label" for="6lead4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CAVO6 -->
<div class="form-group row" id="4lead">
  <label class="col-sm-4 col-form-label" for="4lead"><b>Cavo 4 derivazioni</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="4lead" id="4lead1" value="OK" required>
      <label class="form-check-label" for="4lead1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="4lead" id="4lead2" value="MANCANTE" required>
      <label class="form-check-label" for="4lead2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="4lead" id="4lead3" value="Ripristinato" required>
      <label class="form-check-label" for="4lead3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="4lead" id="4lead4" value="Vedi note" required>
      <label class="form-check-label" for="4lead4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CAVOSATURIMETRO -->
<div class="form-group row" id="saturimetro">
  <label class="col-sm-4 col-form-label" for="saturimetro"><b>Cavo saturimetro</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="saturimetro" id="saturimetro1" value="OK" required>
      <label class="form-check-label" for="saturimetro1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="saturimetro" id="saturimetro2" value="MANCANTE" required>
      <label class="form-check-label" for="saturimetro2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="saturimetro" id="saturimetro3" value="Ripristinato" required>
      <label class="form-check-label" for="saturimetro3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="saturimetro" id="saturimetro4" value="Vedi note" required>
      <label class="form-check-label" for="saturimetro4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CAVOPACING -->
<div class="form-group row" id="pacing">
  <label class="col-sm-4 col-form-label" for="pacing"><b>Cavo mani libere / pacing</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pacing" id="pacing1" value="OK" required>
      <label class="form-check-label" for="pacing1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pacing" id="pacing2" value="MANCANTE" required>
      <label class="form-check-label" for="pacing2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pacing" id="pacing3" value="Ripristinato" required>
      <label class="form-check-label" for="pacing3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pacing" id="pacing4" value="Vedi note" required>
      <label class="form-check-label" for="pacing4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CIRCUITOVENTI -->
<div class="form-group row" id="circuitoventilatore">
  <label class="col-sm-4 col-form-label" for="circuitoventilatore"><b>Corrugato e valvola ventilatore</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="circuitoventilatore" id="circuitoventilatore1" value="OK" required>
      <label class="form-check-label" for="circuitoventilatore1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="circuitoventilatore" id="circuitoventilatore2" value="MANCANTE" required>
      <label class="form-check-label" for="circuitoventilatore2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="circuitoventilatore" id="circuitoventilatore3" value="Ripristinato" required>
      <label class="form-check-label" for="circuitoventilatore3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="circuitoventilatore" id="circuitoventilatore4" value="Vedi note" required>
      <label class="form-check-label" for="circuitoventilatore4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- PIASTRELP -->
<div class="form-group row" id="piastre">
  <label class="col-sm-4 col-form-label" for="piastre"><b>1x Piastre LP 12/15 ADULTI e PEDIATRICHE</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="piastre" id="piastre1" value="OK" required>
      <label class="form-check-label" for="piastre1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="piastre" id="piastre2" value="MANCANTE" required>
      <label class="form-check-label" for="piastre2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="piastre" id="piastre3" value="Ripristinato" required>
      <label class="form-check-label" for="piastre3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="piastre" id="piastre4" value="Vedi note" required>
      <label class="form-check-label" for="piastre4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- LP12/15 -->
<div class="form-group row" id="LP">
  <label class="col-sm-4 col-form-label" for="LP"><b>Defibrillatore LP 12/15</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="LP" id="LP1" value="OK" required>
      <label class="form-check-label" for="LP1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="LP" id="LP2" value="MANCANTE" required>
      <label class="form-check-label" for="LP2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="LP" id="LP3" value="Ripristinato" required>
      <label class="form-check-label" for="LP3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="LP" id="LP4" value="Vedi note" required>
      <label class="form-check-label" for="LP4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CAVOLP -->
<div class="form-group row" id="cavoLP">
  <label class="col-sm-4 col-form-label" for="cavoLP"><b>Alimentatore 12v con cavo</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavoLP" id="cavoLP1" value="OK" required>
      <label class="form-check-label" for="cavoLP1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavoLP" id="cavoLP2" value="MANCANTE" required>
      <label class="form-check-label" for="cavoLP2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavoLP" id="cavoLP3" value="Ripristinato" required>
      <label class="form-check-label" for="cavoLP3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavoLP" id="cavoLP4" value="Vedi note" required>
      <label class="form-check-label" for="cavoLP4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- BATTERIELP -->
<div class="form-group row" id="batterieLP">
  <label class="col-sm-4 col-form-label" for="batterieLP"><b>Batterie</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="batterieLP" id="batterieLP1" value="OK" required>
      <label class="form-check-label" for="batterieLP1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="batterieLP" id="batterieLP2" value="MANCANTE" required>
      <label class="form-check-label" for="batterieLP2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="batterieLP" id="batterieLP3" value="Ripristinato" required>
      <label class="form-check-label" for="batterieLP3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="batterieLP" id="batterieLP4" value="Vedi note" required>
      <label class="form-check-label" for="batterieLP4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- VENTILATORE -->
<div class="form-group row" id="ventilatore">
  <label class="col-sm-4 col-form-label" for="ventilatore"><b>Ventilatore polmonare Drager</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ventilatore" id="ventilatore1" value="OK" required>
      <label class="form-check-label" for="ventilatore1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ventilatore" id="ventilatore2" value="MANCANTE" required>
      <label class="form-check-label" for="ventilatore2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ventilatore" id="ventilatore3" value="Ripristinato" required>
      <label class="form-check-label" for="ventilatore3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ventilatore" id="ventilatore4" value="Vedi note" required>
      <label class="form-check-label" for="ventilatore4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CAVOVENTI12 -->
<div class="form-group row" id="cavovent12">
  <label class="col-sm-4 col-form-label" for="cavovent12"><b>Cavo ventilatore 12v</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavovent12" id="cavovent121" value="OK" required>
      <label class="form-check-label" for="cavovent121">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavovent12" id="cavovent122" value="MANCANTE" required>
      <label class="form-check-label" for="cavovent122">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavovent12" id="cavovent123" value="Ripristinato" required>
      <label class="form-check-label" for="cavovent123">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavovent12" id="cavovent124" value="Vedi note" required>
      <label class="form-check-label" for="cavovent124">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CAVOVENTI220 -->
<div class="form-group row" id="cavovent220">
  <label class="col-sm-4 col-form-label" for="cavovent220"><b>Cavo ventilatore 220v</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavovent220" id="cavovent2201" value="OK" required>
      <label class="form-check-label" for="cavovent2201">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavovent220" id="cavovent2202" value="MANCANTE" required>
      <label class="form-check-label" for="cavovent2202">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavovent220" id="cavovent2203" value="Ripristinato" required>
      <label class="form-check-label" for="cavovent2203">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavovent220" id="cavovent2204" value="Vedi note" required>
      <label class="form-check-label" for="cavovent2204">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- POMPA -->
<div class="form-group row" id="pompa">
  <label class="col-sm-4 col-form-label" for="pompa"><b>Pompa infusionale</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pompa" id="pompa1" value="OK" required>
      <label class="form-check-label" for="pompa1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pompa" id="pompa2" value="MANCANTE" required>
      <label class="form-check-label" for="pompa2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pompa" id="pompa3" value="Ripristinato" required>
      <label class="form-check-label" for="pompa3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pompa" id="pompa4" value="Vedi note" required>
      <label class="form-check-label" for="pompa4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CAVOPOMPA12 -->
<div class="form-group row" id="cavopompa12">
  <label class="col-sm-4 col-form-label" for="cavopompa12"><b>Cavo pompa 12v</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavopompa12" id="cavopompa121" value="OK" required>
      <label class="form-check-label" for="cavopompa121">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavopompa12" id="cavopompa122" value="MANCANTE" required>
      <label class="form-check-label" for="cavopompa122">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavopompa12" id="cavopompa123" value="Ripristinato" required>
      <label class="form-check-label" for="cavopompa123">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavopompa12" id="cavopompa124" value="Vedi note" required>
      <label class="form-check-label" for="cavopompa124">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CAVOPOMPA220 -->
<div class="form-group row" id="cavopompa220">
  <label class="col-sm-4 col-form-label" for="cavopompa220"><b>Cavo pompa 220v</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavopompa220" id="cavopompa2201" value="OK" required>
      <label class="form-check-label" for="cavopompa2201">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavopompa220" id="cavopompa2202" value="MANCANTE" required>
      <label class="form-check-label" for="cavopompa2202">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavopompa220" id="cavopompa2203" value="Ripristinato" required>
      <label class="form-check-label" for="cavopompa2203">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cavopompa220" id="cavopompa2204" value="Vedi note" required>
      <label class="form-check-label" for="cavopompa2204">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- MASCHERECPAP -->
<div class="form-group row" id="cpap">
  <label class="col-sm-4 col-form-label" for="cpap"><b>1x Maschere CPAP (S-M-L)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cpap" id="cpap1" value="OK" required>
      <label class="form-check-label" for="cpap1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cpap" id="cpap2" value="MANCANTE" required>
      <label class="form-check-label" for="cpap2">Mancante</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cpap" id="cpap3" value="Ripristinato" required>
      <label class="form-check-label" for="cpap3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cpap" id="cpap4" value="Vedi note" required>
      <label class="form-check-label" for="cpap4">Vedi note</label>
    </div>
  </div>
</div>