
<!-- SEZIONE MEZZO -->

<!-- LUCI -->
<div class="form-group row" id="luci">
    <label class="col-sm-4 col-form-label" for="luci"><b>Luci</b></label>
    <div class="col col-sm-2">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="luci" id="luci1" value="OK" required>
            <label class="form-check-label" for="luci1">OK</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="luci" id="luci2" value="Guasto" required>
            <label class="form-check-label" for="luci2">Guasto</label>
        </div>
    </div>
    <div class="col col-sm-2">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="luci" id="luci3" value="Ripristinato" required>
            <label class="form-check-label" for="luci3">Ripristinato</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="luci" id="luci4" value="Vedi note" required>
            <label class="form-check-label" for="luci4">Vedi note</label>
        </div>
    </div>
</div>
<hr>
<!-- LAMPEGGIANTI -->
<div class="form-group row" id="blu">
    <label class="col-sm-4 col-form-label" for="blu"><b>Lampeggianti</b></label>
    <div class="col col-sm-2">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="blu" id="blu1" value="OK" required>
            <label class="form-check-label" for="blu1">OK</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="blu" id="blu2" value="Guasto" required>
            <label class="form-check-label" for="blu2">Guasto</label>
        </div>
    </div>
    <div class="col col-sm-2">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="blu" id="blu3" value="Ripristinato" required>
            <label class="form-check-label" for="blu3">Ripristinato</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="blu" id="blu4" value="Vedi note" required>
            <label class="form-check-label" for="blu4">Vedi note</label>
        </div>
    </div>
</div>
<hr>
<!-- SIRENE -->
<div class="form-group row" id="sirene">
    <label class="col-sm-4 col-form-label" for="sirene"><b>Sirene</b></label>
    <div class="col col-sm-2">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sirene" id="sirene1" value="OK" required>
            <label class="form-check-label" for="sirene1">OK</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sirene" id="sirene2" value="Guasto" required>
            <label class="form-check-label" for="sirene2">Guasto</label>
        </div>
    </div>
    <div class="col col-sm-2">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sirene" id="sirene3" value="Ripristinato" required>
            <label class="form-check-label" for="sirene3">Ripristinato</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sirene" id="sirene4" value="Vedi note" required>
            <label class="form-check-label" for="sirene4">Vedi note</label>
        </div>
    </div>
</div>
<hr>
<!-- CARBURANTE -->
<div class="form-group row" id="gasolio">
    <label class="col-sm-4 col-form-label" for="gasolio"><b>Carburante</b></label>
    <div class="col col-sm-2">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gasolio" id="gasolio1" value="OK" required>
            <label class="form-check-label" for="gasolio1">OK</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gasolio" id="gasolio2" value="Rifornito" required>
            <label class="form-check-label" for="gasolio2">Rifornito</label>
        </div>
    </div>
</div>
<hr>
<!-- TELEPASS -->
<div class="form-group row" id="telepass">
    <label class="col-sm-4 col-form-label" for="telepass"><b>Telepass</b></label>
    <div class="col col-sm-2">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="telepass" id="telepass1" value="OK" required>
            <label class="form-check-label" for="telepass1">OK</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="telepass" id="telepass2" value="Guasto" required>
            <label class="form-check-label" for="telepass2">Guasto</label>
        </div>
    </div>
    <div class="col col-sm-2">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="telepass" id="telepass3" value="MANCANTE" required>
            <label class="form-check-label" for="telepass3">Mancante</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="telepass" id="telepass4" value="Vedi note" required>
            <label class="form-check-label" for="telepass4">Vedi note</label>
        </div>
    </div>
</div>
<hr>
<!-- DOCUMENTI -->
<div class="form-group row" id="doc">
    <label class="col-sm-4 col-form-label" for="doc"><b>Documenti</b></label>
    <div class="col col-sm-2">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="doc" id="doc1" value="OK" required>
            <label class="form-check-label" for="doc1">OK</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="doc" id="doc2" value="Vedi note" required>
            <label class="form-check-label" for="doc2">Vedi note</label>
        </div>
    </div>
</div>
<hr>
<!-- CARTA AGIP -->
<div class="form-group row" id="cartaagip">
    <label class="col-sm-4 col-form-label" for="cartaagip"><b>Tessera carburante</b></label>
    <div class="col col-sm-2">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="cartaagip" id="cartaagip1" value="OK" required>
            <label class="form-check-label" for="cartaagip1">OK</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="cartaagip" id="cartaagip2" value="MANCANTE" required>
            <label class="form-check-label" for="cartaagip2">Mancante</label>
        </div>
    </div>
</div>
<hr>