
<!-- TEMPLATE BORSA -->

<!-- AMBU PED -->
<div class="form-group row" id="ambuped">
  <label class="col-sm-4 col-form-label" for="ambuped"><b>Pallone autoespandibile pediatrico</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ambuped" id="ambuped1" value="OK" required>
      <label class="form-check-label" for="ambuped1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ambuped" id="ambuped2" value="MANCANTE" required>
      <label class="form-check-label" for="ambuped2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ambuped" id="ambuped3" value="Ripristinato" required>
      <label class="form-check-label" for="ambuped3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ambuped" id="ambuped4" value="Vedi note" required>
      <label class="form-check-label" for="ambuped4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- FILTRO PED -->
<div class="form-group row" id="filtroped">
  <label class="col-sm-4 col-form-label" for="filtroped"><b>Filtri (2x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="filtroped" id="filtroped1" value="OK" required>
      <label class="form-check-label" for="filtroped1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="filtroped" id="filtroped2" value="MANCANTE" required>
      <label class="form-check-label" for="filtroped2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="filtroped" id="filtroped3" value="Ripristinato" required>
      <label class="form-check-label" for="filtroped3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="filtroped" id="filtroped4" value="Vedi note" required>
      <label class="form-check-label" for="filtroped4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- RESERVOIR PED -->
<div class="form-group row" id="reservoirped">
  <label class="col-sm-4 col-form-label" for="reservoirped"><b>Reservoire +  valvola (PED)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="reservoirped" id="reservoirped1" value="OK" required>
      <label class="form-check-label" for="reservoirped1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="reservoirped" id="reservoirped2" value="MANCANTE" required>
      <label class="form-check-label" for="reservoirped2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="reservoirped" id="reservoirped3" value="Ripristinato" required>
      <label class="form-check-label" for="reservoirped3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="reservoirped" id="reservoirped4" value="Vedi note" required>
      <label class="form-check-label" for="reservoirped4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- MASCHERE PED -->
<div class="form-group row" id="maschereped">
  <label class="col-sm-4 col-form-label" for="maschereped"><b>Mascherine (3 misure PED)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschereped" id="maschereped1" value="OK" required>
      <label class="form-check-label" for="maschereped1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschereped" id="maschereped2" value="MANCANTE" required>
      <label class="form-check-label" for="maschereped2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschereped" id="maschereped3" value="MANCANTE" required>
      <label class="form-check-label" for="maschereped3">MANCANTE</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschereped" id="maschereped4" value="Vedi note" required>
      <label class="form-check-label" for="maschereped4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- GUEDEL PED -->
<div class="form-group row" id="guedelped">
  <label class="col-sm-4 col-form-label" for="guedelped"><b>Guedel (3 misure PED)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guedelped" id="guedelped1" value="OK" required>
      <label class="form-check-label" for="guedelped1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guedelped" id="guedelped2" value="MANCANTE" required>
      <label class="form-check-label" for="guedelped2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guedelped" id="guedelped3" value="Ripristinato" required>
      <label class="form-check-label" for="guedelped3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guedelped" id="guedelped4" value="Vedi note" required>
      <label class="form-check-label" for="guedelped4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- RACCORDO PED -->
<div class="form-group row" id="ossped">
  <label class="col-sm-4 col-form-label" for="ossped"><b>Raccordo ossigeno</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ossped" id="ossped1" value="OK" required>
      <label class="form-check-label" for="ossped1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ossped" id="ossped2" value="MANCANTE" required>
      <label class="form-check-label" for="ossped2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ossped" id="ossped3" value="Ripristinato" required>
      <label class="form-check-label" for="ossped3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ossped" id="ossped4" value="Vedi note" required>
      <label class="form-check-label" for="ossped4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- AMBU ADULTI -->
<div class="form-group row" id="ambuadulti">
  <label class="col-sm-4 col-form-label" for="ambuadulti"><b>Pallone autoespandibile adulti</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ambuadulti" id="ambuadulti1" value="OK" required>
      <label class="form-check-label" for="ambuadulti1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ambuadulti" id="ambuadulti2" value="MANCANTE" required>
      <label class="form-check-label" for="ambuadulti2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ambuadulti" id="ambuadulti3" value="Ripristinato" required>
      <label class="form-check-label" for="ambuadulti3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ambuadulti" id="ambuadulti4" value="Vedi note" required>
      <label class="form-check-label" for="ambuadulti4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- FILTRI ADULTI -->
<div class="form-group row" id="filtroadulti">
  <label class="col-sm-4 col-form-label" for="filtroadulti"><b>Filtri (2x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="filtroadulti" id="filtroadulti1" value="OK" required>
      <label class="form-check-label" for="filtroadulti1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="filtroadulti" id="filtroadulti2" value="MANCANTE" required>
      <label class="form-check-label" for="filtroadulti2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="filtroadulti" id="filtroadulti3" value="Ripristinato" required>
      <label class="form-check-label" for="filtroadulti3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="filtroadulti" id="filtroadulti4" value="Vedi note" required>
      <label class="form-check-label" for="filtroadulti4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- RESERVOIR ADULTI -->
<div class="form-group row" id="reservoiradulti">
  <label class="col-sm-4 col-form-label" for="reservoiradulti"><b>Reservoire +  valvola ADU</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="reservoiradulti" id="reservoiradulti1" value="OK" required>
      <label class="form-check-label" for="reservoiradulti1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="reservoiradulti" id="reservoiradulti2" value="MANCANTE" required>
      <label class="form-check-label" for="reservoiradulti2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="reservoiradulti" id="reservoiradulti3" value="Ripristinato" required>
      <label class="form-check-label" for="reservoiradulti3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="reservoiradulti" id="reservoiradulti4" value="Vedi note" required>
      <label class="form-check-label" for="reservoiradulti4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- MASCHERE ADULTI -->
<div class="form-group row" id="maschereadulti">
  <label class="col-sm-4 col-form-label" for="maschereadulti"><b>Mascherine (5 misure ADU)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschereadulti" id="maschereadulti1" value="OK" required>
      <label class="form-check-label" for="maschereadulti1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschereadulti" id="maschereadulti2" value="MANCANTE" required>
      <label class="form-check-label" for="maschereadulti2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschereadulti" id="maschereadulti3" value="Ripristinato" required>
      <label class="form-check-label" for="maschereadulti3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschereadulti" id="maschereadulti4" value="Vedi note" required>
      <label class="form-check-label" for="maschereadulti4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- GUEDEL ADULTI -->
<div class="form-group row" id="guedeladulti">
  <label class="col-sm-4 col-form-label" for="guedeladulti"><b>Guedel (5 misure ADU)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guedeladulti" id="guedeladulti1" value="OK" required>
      <label class="form-check-label" for="guedeladulti1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guedeladulti" id="guedeladulti2" value="MANCANTE" required>
      <label class="form-check-label" for="guedeladulti2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guedeladulti" id="guedeladulti3" value="Ripristinato" required>
      <label class="form-check-label" for="guedeladulti3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guedeladulti" id="guedeladulti4" value="Vedi note" required>
      <label class="form-check-label" for="guedeladulti4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- RACCORDO ADULTI -->
<div class="form-group row" id="ossadulti">
  <label class="col-sm-4 col-form-label" for="ossadulti"><b>Raccordo ossigeno</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ossadulti" id="ossadulti1" value="OK" required>
      <label class="form-check-label" for="ossadulti1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ossadulti" id="ossadulti2" value="MANCANTE" required>
      <label class="form-check-label" for="ossadulti2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ossadulti" id="ossadulti3" value="Ripristinato" required>
      <label class="form-check-label" for="ossadulti3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ossadulti" id="ossadulti4" value="Vedi note" required>
      <label class="form-check-label" for="ossadulti4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- FISIOLOGICHE -->
<div class="form-group row" id="fisio">
  <label class="col-sm-4 col-form-label" for="fisio"><b>Fisiologiche (2x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="fisio" id="fisio1" value="OK" required>
      <label class="form-check-label" for="fisio1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="fisio" id="fisio2" value="MANCANTE" required>
      <label class="form-check-label" for="fisio2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="fisio" id="fisio3" value="Ripristinato" required>
      <label class="form-check-label" for="fisio3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="fisio" id="fisio4" value="Vedi note" required>
      <label class="form-check-label" for="fisio4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- H202 -->
<div class="form-group row" id="h2o2">
  <label class="col-sm-4 col-form-label" for="h2o2"><b>Acqua ossigenata (1x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="h2o2" id="h2o21" value="OK" required>
      <label class="form-check-label" for="h2o21">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="h2o2" id="h2o22" value="MANCANTE" required>
      <label class="form-check-label" for="h2o22">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="h2o2" id="h2o23" value="Ripristinato" required>
      <label class="form-check-label" for="h2o23">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="h2o2" id="h2o24" value="Vedi note" required>
      <label class="form-check-label" for="h2o24">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- BETADINE -->
<div class="form-group row" id="betadine">
  <label class="col-sm-4 col-form-label" for="betadine"><b>Betadine (1x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="betadine" id="betadine1" value="OK" required>
      <label class="form-check-label" for="betadine1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="betadine" id="betadine2" value="MANCANTE" required>
      <label class="form-check-label" for="betadine2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="betadine" id="betadine3" value="Ripristinato" required>
      <label class="form-check-label" for="betadine3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="betadine" id="betadine4" value="Vedi note" required>
      <label class="form-check-label" for="betadine4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CEROTTI -->
<div class="form-group row" id="cerotti">
  <label class="col-sm-4 col-form-label" for="cerotti"><b>Cerotti (2x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cerotti" id="cerotti1" value="OK" required>
      <label class="form-check-label" for="cerotti1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cerotti" id="cerotti2" value="MANCANTE" required>
      <label class="form-check-label" for="cerotti2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cerotti" id="cerotti3" value="Ripristinato" required>
      <label class="form-check-label" for="cerotti3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="cerotti" id="cerotti4" value="Vedi note" required>
      <label class="form-check-label" for="cerotti4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- BENDA -->
<div class="form-group row" id="benda">
  <label class="col-sm-4 col-form-label" for="benda"><b>Peha haft (4x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="benda" id="benda1" value="OK" required>
      <label class="form-check-label" for="benda1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="benda" id="benda2" value="MANCANTE" required>
      <label class="form-check-label" for="benda2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="benda" id="benda3" value="Ripristinato" required>
      <label class="form-check-label" for="benda3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="benda" id="benda4" value="Vedi note" required>
      <label class="form-check-label" for="benda4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- GARZE -->
<div class="form-group row" id="garze">
  <label class="col-sm-4 col-form-label" for="garze"><b>Garze sterili (6x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="garze" id="garze1" value="OK" required>
      <label class="form-check-label" for="garze1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="garze" id="garze2" value="MANCANTE" required>
      <label class="form-check-label" for="garze2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="garze" id="garze3" value="Ripristinato" required>
      <label class="form-check-label" for="garze3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="garze" id="garze4" value="Vedi note" required>
      <label class="form-check-label" for="garze4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- GHIACCIO -->
<div class="form-group row" id="ghiaccio">
  <label class="col-sm-4 col-form-label" for="ghiaccio"><b>Ghiaccio (3x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ghiaccio" id="ghiaccio1" value="OK" required>
      <label class="form-check-label" for="ghiaccio1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ghiaccio" id="ghiaccio2" value="MANCANTE" required>
      <label class="form-check-label" for="ghiaccio2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ghiaccio" id="ghiaccio3" value="Ripristinato" required>
      <label class="form-check-label" for="ghiaccio3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ghiaccio" id="ghiaccio4" value="Vedi note" required>
      <label class="form-check-label" for="ghiaccio4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- LACCIOARTERIOSO -->
<div class="form-group row" id="arterioso">
  <label class="col-sm-4 col-form-label" for="arterioso"><b>Laccio arterioso</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="arterioso" id="arterioso1" value="OK" required>
      <label class="form-check-label" for="arterioso1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="arterioso" id="arterioso2" value="MANCANTE" required>
      <label class="form-check-label" for="arterioso2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="arterioso" id="arterioso3" value="Ripristinato" required>
      <label class="form-check-label" for="arterioso3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="arterioso" id="arterioso4" value="Vedi note" required>
      <label class="form-check-label" for="arterioso4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- LACCIOVENOSO -->
<div class="form-group row" id="venoso">
  <label class="col-sm-4 col-form-label" for="venoso"><b>Laccio venoso</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="venoso" id="venoso1" value="OK" required>
      <label class="form-check-label" for="venoso1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="venoso" id="venoso2" value="MANCANTE" required>
      <label class="form-check-label" for="venoso2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="venoso" id="venoso3" value="Ripristinato" required>
      <label class="form-check-label" for="venoso3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="venoso" id="venoso4" value="Vedi note" required>
      <label class="form-check-label" for="venoso4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- RASOIO -->
<div class="form-group row" id="rasoio">
  <label class="col-sm-4 col-form-label" for="rasoio"><b>Rasoio</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="rasoio" id="rasoio1" value="OK" required>
      <label class="form-check-label" for="rasoio1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="rasoio" id="rasoio2" value="MANCANTE" required>
      <label class="form-check-label" for="rasoio2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="rasoio" id="rasoio3" value="Ripristinato" required>
      <label class="form-check-label" for="rasoio3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="rasoio" id="rasoio4" value="Vedi note" required>
      <label class="form-check-label" for="rasoio4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- SFIGMO -->
<div class="form-group row" id="sfigmo">
  <label class="col-sm-4 col-form-label" for="sfigmo"><b>Sfigmomanometro</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sfigmo" id="sfigmo1" value="OK" required>
      <label class="form-check-label" for="sfigmo1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sfigmo" id="sfigmo2" value="MANCANTE" required>
      <label class="form-check-label" for="sfigmo2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sfigmo" id="sfigmo3" value="Ripristinato" required>
      <label class="form-check-label" for="sfigmo3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sfigmo" id="sfigmo4" value="Vedi note" required>
      <label class="form-check-label" for="sfigmo4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- FONENDO -->
<div class="form-group row" id="fonendo">
  <label class="col-sm-4 col-form-label" for="fonendo"><b>Fonendoscopio</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="fonendo" id="fonendo1" value="OK" required>
      <label class="form-check-label" for="fonendo1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="fonendo" id="fonendo2" value="MANCANTE" required>
      <label class="form-check-label" for="fonendo2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="fonendo" id="fonendo3" value="Ripristinato" required>
      <label class="form-check-label" for="fonendo3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="fonendo" id="fonendo4" value="Vedi note" required>
      <label class="form-check-label" for="fonendo4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- SONDINI -->
<div class="form-group row" id="sondini">
  <label class="col-sm-4 col-form-label" for="sondini"><b>Sondini aspiratore (5x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sondini" id="sondini1" value="OK" required>
      <label class="form-check-label" for="sondini1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sondini" id="sondini2" value="MANCANTE" required>
      <label class="form-check-label" for="sondini2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sondini" id="sondini3" value="Ripristinato" required>
      <label class="form-check-label" for="sondini3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sondini" id="sondini4" value="Vedi note" required>
      <label class="form-check-label" for="sondini4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- RESERVOIRBORSA -->
<div class="form-group row" id="maschereborsa">
  <label class="col-sm-4 col-form-label" for="maschereborsa"><b>Mascherine reservoir (2 adulti + 2 pediatriche)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschereborsa" id="maschereborsa1" value="OK" required>
      <label class="form-check-label" for="maschereborsa1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschereborsa" id="maschereborsa2" value="MANCANTE" required>
      <label class="form-check-label" for="maschereborsa2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschereborsa" id="maschereborsa3" value="Ripristinato" required>
      <label class="form-check-label" for="maschereborsa3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="maschereborsa" id="maschereborsa4" value="Vedi note" required>
      <label class="form-check-label" for="maschereborsa4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- ROBIN -->
<div class="form-group row" id="robin">
  <label class="col-sm-4 col-form-label" for="robin"><b>Robin</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="robin" id="robin1" value="OK" required>
      <label class="form-check-label" for="robin1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="robin" id="robin2" value="MANCANTE" required>
      <label class="form-check-label" for="robin2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="robin" id="robin3" value="Ripristinato" required>
      <label class="form-check-label" for="robin3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="robin" id="robin4" value="Vedi note" required>
      <label class="form-check-label" for="robin4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- GUANTISTERILI -->
<div class="form-group row" id="guantisterili">
  <label class="col-sm-4 col-form-label" for="guantisterili"><b>Guanti sterili (4x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guantisterili" id="guantisterili1" value="OK" required>
      <label class="form-check-label" for="guantisterili1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guantisterili" id="guantisterili2" value="MANCANTE" required>
      <label class="form-check-label" for="guantisterili2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guantisterili" id="guantisterili3" value="Ripristinato" required>
      <label class="form-check-label" for="guantisterili3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="guantisterili" id="guantisterili4" value="Vedi note" required>
      <label class="form-check-label" for="guantisterili4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- TELINISTERILI -->
<div class="form-group row" id="telini">
  <label class="col-sm-4 col-form-label" for="telini"><b>Telini sterili (2x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="telini" id="telini1" value="OK" required>
      <label class="form-check-label" for="telini1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="telini" id="telini2" value="MANCANTE" required>
      <label class="form-check-label" for="telini2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="telini" id="telini3" value="Ripristinato" required>
      <label class="form-check-label" for="telini3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="telini" id="telini4" value="Vedi note" required>
      <label class="form-check-label" for="telini4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- METALLINE -->
<div class="form-group row" id="metalline">
  <label class="col-sm-4 col-form-label" for="metalline"><b>Metalline (4x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="metalline" id="metalline1" value="OK" required>
      <label class="form-check-label" for="metalline1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="metalline" id="metalline2" value="MANCANTE" required>
      <label class="form-check-label" for="metalline2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="metalline" id="metalline3" value="Ripristinato" required>
      <label class="form-check-label" for="metalline3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="metalline" id="metalline4" value="Vedi note" required>
      <label class="form-check-label" for="metalline4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- RIFIUTI -->
<div class="form-group row" id="spazzatura">
  <label class="col-sm-4 col-form-label" for="spazzatura"><b>Sacchetti rifiuti</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="spazzatura" id="spazzatura1" value="OK" required>
      <label class="form-check-label" for="spazzatura1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="spazzatura" id="spazzatura2" value="MANCANTE" required>
      <label class="form-check-label" for="spazzatura2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="spazzatura" id="spazzatura3" value="Ripristinato" required>
      <label class="form-check-label" for="spazzatura3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="spazzatura" id="spazzatura4" value="Vedi note" required>
      <label class="form-check-label" for="spazzatura4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- PAPPAGALLO -->
<div class="form-group row" id="pappagallo">
  <label class="col-sm-4 col-form-label" for="pappagallo"><b>Pappagallo monouso (2x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pappagallo" id="pappagallo1" value="OK" required>
      <label class="form-check-label" for="pappagallo1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pappagallo" id="pappagallo2" value="MANCANTE" required>
      <label class="form-check-label" for="pappagallo2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pappagallo" id="pappagallo3" value="Ripristinato" required>
      <label class="form-check-label" for="pappagallo3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pappagallo" id="pappagallo4" value="Vedi note" required>
      <label class="form-check-label" for="pappagallo4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- DPI -->
<div class="form-group row" id="dpi">
  <label class="col-sm-4 col-form-label" for="dpi"><b>Kit infettivi (3x)</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="dpi" id="dpi1" value="OK" required>
      <label class="form-check-label" for="dpi1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="dpi" id="dpi2" value="MANCANTE" required>
      <label class="form-check-label" for="dpi2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="dpi" id="dpi3" value="Ripristinato" required>
      <label class="form-check-label" for="dpi3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="dpi" id="dpi4" value="Vedi note" required>
      <label class="form-check-label" for="dpi4">Vedi note</label>
    </div>
  </div>
</div>
<hr>
<!-- CHIRU -->
<div class="form-group row" id="chirurgiche">
  <label class="col-sm-4 col-form-label" for="chirurgiche"><b>Mascherine chirurgiche</b></label>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="chirurgiche" id="chirurgiche1" value="OK" required>
      <label class="form-check-label" for="chirurgiche1">OK</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="chirurgiche" id="chirurgiche2" value="MANCANTE" required>
      <label class="form-check-label" for="chirurgiche2">MANCANTE</label>
    </div>
  </div>
  <div class="col col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="chirurgiche" id="chirurgiche3" value="Ripristinato" required>
      <label class="form-check-label" for="chirurgiche3">Ripristinato</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="chirurgiche" id="chirurgiche4" value="Vedi note" required>
      <label class="form-check-label" for="chirurgiche4">Vedi note</label>
    </div>
  </div>
</div>
<hr>